<br/>
<div class="jumbotron bg-success">
  <h1>Emily's AMAZING World!</h1>
  <p>Share the world with your friends!</p>
<p>
  <%= link_to "Sign In", new_user_session_path, class: 'btn btn-danger' %> or
  <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-danger' %> today for <strong>FREE!</strong>
</p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Did someone say cute animals!?!</h2>
    <p>Find an array of cute and hilarious animals with interesting facts about them!</p>
  </div>
  <div class="col-md-4">
    <h2>Check out some of the most relaxing places in the world.</h2>
    <p>Look through photos of some of the most amazing and serene places on planet Earth. Share stories and experiences!</p>
  </div>
  <div class="col-md-4">
    <h2>Nerds are Welcome!</h2>
    <p>Talk to and meet many other nerds just like you and discuss anything your heart desires!</p>
  </div>
</div>

