@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);
@import url(http://fonts.googleapis.com/css?family=Special+Elite);

.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
  font-style: italic;
  font-weight: bold;
  
}

.nav_color{
  color: #0000FF;
}

.btn, h2, h3, h4, h5, h6{
  font-family:Lobster;
}
h1{
  font-family:Permanent Marker;
  font-style: italic;
  text-decoration: underline;
}
.btn{
  letter-spacing:1px;
 font-size: 20px;
}
.jumbotron{
  background-color: #dff0d8;
}


/*------------------------------------------------------------------*/
/*-----------------------------   Post Styles ---------------------------*/



.post_link{
  font-family: Special Elite;
  font-style: normal;
  font-weight: bold;
  color: #9ACD32;
}
