//"bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variable"
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);
@import url(https://fonts.googleapis.com/css?family=Special+Elite);
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);

.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
  font-style: italic;
  font-weight: bold; 
  
}
 
.nav a{
  font-variant: medium-caps;
}
   /* unvisited link */
.nav a:link{
    color: #00BFFF;
  }
  /* visited link */
.nav a:visited {
    color: red;
   }
  /* mouse over link */
.nav a:hover{
    color: #BA2F00;
}

a.btn:link{
  color: #FCFCFC;
}

a.btn:visited{
  color: #FCFCFC;
}

.btn, h2, h3, h4, h5, h6{
  font-family:Lobster;
}
h1{
  font-family:Permanent Marker;
  font-style: italic;
  text-decoration: underline;
}
.btn{
  letter-spacing:1px;
 font-size: 20px;
}

.jumbotron{
  background-color: #dff0d8;
}


/*------------------------------------------------------------------*/
/*-----------------------------   Topics Styles ---------------------------*/

.post_title {
  font-family: Kaushan Script;
  font-weight: bold;
  letter-spacing: 2px;
}

.post_link{
  font-family: Special Elite;
  font-style: normal;
  font-weight: bold;
  color: #9ACD32;
}

 /* unvisited link */
  a:link{
    color: #00BFFF;
  }
  /* visited link */
  a:visited {
    color: red;
   }
  /* mouse over link */
  a:hover{
    color: #00FF00;
  }
.new_topic{
  position: relative;
  right: -75px;
  top: -22px;
  font-size: 18px;
} 

/*-------------------------------------------------------------------------------*/
/*------------------------------Vote Styles-------------------------------------*/

.vote-arrows {
  width: 40px;
  text-align: center;
}

/*---------------------------------------------------------------------------*/
/*---------------------------Favorite Styles--------------------------------*/

.favorite {
  margin-top: 20px;
}