@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Lobster);

.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
}

.btn, h1, h2, h3, h4, h5, h6{
  font-family:Lobster;
}

.btn{
  letter-spacing:1px;
}
.jumbotron{
  background-color: #dff0d8;
}